/* 
    Author: HNDIT Student;
    Theme: Food Order Website Admin;
    version: 1.0;
*/

*{
    margin: 0;
    padding: 0 ;
    font-family:'Times New Roman', Times, serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}


.clearfix{
    float: none;
    clear: both;
}

/* table for css */

.tbl-full {
    width: 100%;
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 1%;
}
.btn-pirmary {
    background-color: #1e90ff;
    padding: 1%;
    color: white ;
    text-decoration: none;
    font-weight: bold;
}
.btn-pirmary:hover{
    background-color: #3742fa;
}






/*css for menu */

.menu{
    border-bottom: 1px solid gray;
}
.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #6F1E51;
}
.menu ul li a:hover{
    color: #df1093;
}


/* css for main-content*/

.main-content{
    background-color: #dfe6e9;
    padding: 3% 0;
}



.col-4 {
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* css for Footer */
.footer{
    background-color:#192a56;
    color: white;
}